<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="fragments/navbar"></div>

<div class="container mt-3">
    <h1 class="display-4 text-center">haut les mains !</h1>
    <img src="https://i.ytimg.com/vi/9-GtPH2Yyus/maxresdefault.jpg" class="img-fluid mx-auto d-block" width="1000">
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>